
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

input {
  padding: 10px;
  margin: 10px;
  width: 80%;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #fc634f;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #e05343;
}

#fontOptions, #sublineSection {
  margin-bottom: 20px;
}

#output {
  margin-top: 30px;
}

#headlineOutput, #sublineOutput {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: bold;
}
